* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, select, textarea {
    font: inherit;
}
input, select, textarea {
    width: 100%;
    background-color: #eee;
    padding: 0 0.5rem;
}
button {
    padding: 0.2rem 0.75rem;
    font-size: smaller;
}
/* Hide datalist arrow */
[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}
/* Hide input number spinctrl */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

:root {
    --fg1: #000;
    --fg2: #addb67;
    --fg3: #ecc48d;
    --fg-err: #f00;
    --bg1: #f6f6ef;
    --bgtitle: #addb67;
    --fade0: #e2e8f0;
    --fade1: #a0aec0;
    --fade2: #4a5568;
    --lightgreen: #008800;
    --darkgreen: #005500;
    --maroon: #630b08;
    --mellowyellow: #febf2a;
    --lightgrey: #d0ccc0;
    --earthgrey: #686a59;
}

h1, h2, h3, h4 {
    font-size: 1rem;
}
p, ul, li, h1, h2, h3, h4, blockquote {
    margin: 0;
    padding: 0;
}
a, a:visited {
    color: inherit;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
.pill {
    background-color: #ddd;
    color: #000;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}
.smallpill {
    background-color: #ddd;
    color: #000;
    padding: 0 0.5rem;
    border-radius: 5px;
}
.box {
    border: 1px solid;
}
.flex-between {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

html {
    font-family: system-ui, "Verdana", "Geneva", sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #aaa;
    background-color: var(--earthgrey);
    line-height: 1.5;

    background-size: 100vw 100vh;
}
.mini {
    font-size: 12px;
}
html.wp1 {background-image: url("images/wp1.jpg");}
html.wp2 {background-image: url("images/wp2.jpg");}
html.wp3 {background-image: url("images/wp3.jpg");}
html.wp4 {background-image: url("images/wp4.jpg");}
html.wp5 {background-image: url("images/wp5.jpg");}

body {
    margin: 1rem auto;
    max-width: 800px;
    background-color: var(--lightgrey);
    padding-bottom: 0.5rem;
}
.mini body {
    margin: 0;
    max-width: 400px;
    padding-bottom: 0.2rem;
}
.maingrid {
    display: grid;
    /*grid-template-columns: min-content min-content;*/
    grid-template-columns: min-content auto;
}
.mini .maingrid {
    display: grid;
    grid-template-columns: auto;
}
.maingrid .panel {
    margin: 0.1rem;
}
.panel {
    background-color: #fff;
    overflow-x: auto;
    padding: 0;
    margin: 0.5rem 0.5rem 0;
    box-shadow: 2px 2px #aaa;
    width: fit-content;
}
.mini .panel {
    padding: 0;
    margin: 0.2rem 0.2rem 0;
    box-shadow: 2px 2px #aaa;
}
.panel_body {
    padding: 0.5rem 1rem;
}
.mini .panel_body {
}
table {
    border-collapse: collapse;
}
caption {
    text-align: left;
    font-weight: 700;
}
th {
    background-color: #ddd;
}
th, td {
    text-align: left;
    padding: 0.2rem 0.5rem;
}
tr:nth-child(2n+1) {
    background-color: #eee;
}
.heading {
    font-size: 1rem;
    font-weight: 500;
}
.masthead {
    height: 50px;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0.4rem 0.2rem;
    background-color: var(--darkgreen);
    color: #fff;
}
.navbar a {
    text-decoration: none;
}
.navbar .pill {
    background-color: var(--lightgreen);
    color: #fff;
}
.titlebar {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem;
    background-color: var(--lightgreen);
    color: #fff;
    padding: 0.1rem 0.2rem;
    font-weight: 500;
}
.titlebar > * {
    align-self: center;
    font-size: inherit;
}
.titlebar .pill,
.titlebar .smallpill {
    color: #000;
    font-weight: 900;
    text-decoration: none;
}
.go {
    font-size: smaller;
}
.line-menu {
    display: inline;
    list-style-type: none;
}
.line-menu li {
    display: inline;
}
.line-menu li:not(:first-child)::before {
    content: " | ";
}
.line-menu .sel {
}
.line-menu .action {
    color: var(--darkgreen);
    font-weight: 500;
}

input:focus, textarea:focus, button:focus {
    border: 2px solid;
}
input:focus, textarea:focus {
    background-color: lightyellow;
}
.invalid {
    border: none;
    outline: 2px solid #aa0000;
    /*background-color: #ddd;*/
}
select {
    padding: 0 0.5em;
}
.submit {
    font-weight: bold;
    min-width: 10ch;
}
.btnrow {
    margin-top: 0.5rem;
}
.error {
    margin: 0;
    font-style: italic;
    color: #aa0000;
}
.btnrow {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
form .heading {
    margin-bottom: 0.5rem;
}
.control {
    margin: 0.2rem 0;
}
.simpleform {
}
.simpleform label {
    display: block;
}

.entryform {
    display: grid;
    gap: 0.5rem;
}
.entryform .control {
    display: grid;
    gap: 1rem;
    grid-template-columns: 10ch auto;
}
.entryform label {
    text-align: right;
}
.entryform .btnrow {
    justify-content: flex-end;
}
.entryform .error {
    text-align: right;
}
input[name=desc] {
    width: 30ch;
}
input[name=amt] {
    width: 15ch;
}
input[name=cat] {
    width: 20ch;
}
input[type=date] {
    width: 16ch;
}

input[name=username] {
    width: 20ch;
}
input[type=password] {
    width: 20ch;
}
input[name=search] {
    max-width: 20ch;
}
.mini input[name=search] {
    max-width: 15ch;
}

.hbar {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}
.hbar > * {
    align-content: center;
    white-space: nowrap;
}
.gobar {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.2rem;
}
.gobar > * {
    align-content: center;
    white-space: nowrap;
}
.gobar select,
.gobar input[type=text] {
    /*background-color: #fff;*/
}
.gobar input,
.gobar select {
    width: fit-content;
}
.vbar {
    display: grid;
}
.infobar {
    padding: 0.4rem 0.4rem;
}
.infobar .pill,
.infobar .smallpill {
    color: #000;
    text-decoration: none;
}

.login-panel {
}
.register-panel {
}
.editexp-panel {
}

.filter-panel {
    background-color: var(--lightgrey);
    font-size: 12px;
}
.filter-panel .panel_body {
/*    padding: 0.2rem 0.5rem;*/
    padding: 0.5rem 0;
    padding: 0;
}
.filter-panel .panel_body > * {
    padding: 0.2rem 0.5rem 0.5rem;
}
.filter-panel .panel_body > *:not(:last-child) {
    border-bottom: 1px solid var(--earthgrey);
}
.filter-panel .control {
    margin: 0;
}
.filter-panel input {
    width: fit-content;
}
.filter-panel input[name=year] {
    width: 7ch;
}
.active {
/*    background-color: #adff2f;*/
}

.view-panel {
    width: 99%;
}
.view-panel .panel_body {
    padding: 0;
}
.view-panel .panel_body .infobar > *:first-child {
    flex-grow: 1;
}
.expenses {
}
.expenses td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Date */
.expenses td:nth-child(1) {
    font-size: smaller;
}
/* Desc */
.expenses td:nth-child(2) {
    max-width: 25ch;
    width: 100%;
}
.mini .expenses td:nth-child(2) {
    max-width: 15ch;
    width: 100%;
}
/* Amount */
.expenses td:nth-child(3) {
    text-align: right;
    max-width: 15ch;
}
.mini .expenses td:nth-child(3) {
    max-width: 9ch;
}
/* Category */
.expenses td:nth-child(4) {
    max-width: 15ch;
}
.mini .expenses td:nth-child(4) {
    max-width: 15ch;
}
/* Rec# */
.expenses td:nth-child(5) {
    color: var(--darkgreen);
    font-size: smaller;
    text-align: center;
}
.expenses tr:hover {
    background-color: var(--mellowyellow);
    background-color: #77bf2a;
    background-color: #adff2f;
    cursor: pointer;
}
